@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Сайт создан Гайнетдиновым Ранисом</h1>
    <p>Здесь будет записываться развернутая информация о моих проекта и их этапах</p>
</div>
